<div class="container-fluid  container">
    <div class="select-order">
        <p>Sort by:
            <select ng-model="$ctrl.orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
            </select>
        </p>
    </div>
    <div class="row  text-center">
        <div class="col-sm-6 col-md-4 container"  ng-repeat="list in $ctrl.kdlist | orderBy:$ctrl.orderProp">
            <a href="#/tvlist/{{list.id}}">
                <div class="card bg-dark">
                    <img class="card-img" ng-src="{{list.thumburl}}" alt="{{list.title}}">
                    <div class="card-img-overlay">
                        <h3 class="card-title">{{list.title}}</h3>
                        <p class="card-text">{{list.genre}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>